body {
    padding: 0px;
    margin: 0px;
    background-color: var(--cor-0);
}

.cidades {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 10px;
    margin-top: 20px;
}

.cidades a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 4px;
    background: var(--cor-1);
    color: var(--cor-5);
    font-weight: 500;
    transition: 0.3s;
}

.cidades a:hover {
  background: var(--cor-3);
}