header {
    width: 100%;
}

.header {
    padding: var(--espacamento-md);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--espacamento-md);
}

.header img {
    width: 40px;
    height: 40px;
}

.header h1 {
    font-size: clamp(28px, 5vw, 40px);
    font-weight: bolder;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento-md);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-5);
    display: flex;
    gap: 50px;
    margin-left: 50px;
}

.menu {
    margin-right: 50px;
}

.menu ul {
  font-size: 24px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--cor-5);
    font-weight: 500;
    transition: 0.3s;
}
.menu a:hover {
    color: var(--cor-2);
}

.menu a:focus {
    outline: 2px solid var(--cor-5);
    outline-offset: 2px;
}
